/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/text.css ***!
  \****************************************************************************/
.text_regular{
    margin: 10px 0px 5px 0px;
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-black);
    text-align: justify;
    word-break: break-all;
}

.text_notification{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-black);
}

.text_success{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: green;
}

.text_error{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: crimson;
}

.text_h1{
    margin: 10px 0px 5px 0px;
    font-size: var(--font-h1);
    font-family: var(--font-family-default);
    color: var(--color-black);
}

/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/link.css ***!
  \****************************************************************************/
.link_normal{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
}

.link_nav{
    cursor: pointer;
}
/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/button.css ***!
  \******************************************************************************/
.button_regular {
  padding: 15px 20px 15px 20px;
  width: fit-content;
  margin: 10px 0px 5px 0px;
  background: var(--color-primary);
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--color-black);
  font-size: var(--font-size-default);
  cursor: pointer;
}

.button_regular:active{
  background:  orange;
}

.button_white {
  padding: 15px 20px 15px 20px;
  width: fit-content;
  margin: 10px 0px 5px 0px;
  background: var(--color-secondary);
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid black;
  color: var(--color-black);
  font-size: var(--font-size-default);
  cursor: pointer;
}

.button_white:active{
  background:  #fafafa;
}

.button_link{
  text-decoration: underline;
  background-color: white;
  padding: none;
  border: none;
  cursor: pointer;
}

.button_link:active{
  color: var(--color-primary);
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/input.css ***!
  \*****************************************************************************/
.input_box_regular{
  width: 300px;
  padding: 15px 20px 15px 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
}

.text_area_regular {
  width: 300px;
  height: 80px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
}

.checkbox_regular{
  width: 20px;
  height: 20px;
}

/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/card.css ***!
  \****************************************************************************/

/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/display.css ***!
  \*******************************************************************************/
.display_regular{
    width: var(--app-width);
}


/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/box.css ***!
  \***************************************************************************/
.box_banner {
  width: var(--app-width);
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  justify-content: space-around;
}

.box_flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.box_flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.box_flex_row_right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  padding: 10px 20px 10px 0px;
}
.box_flex_row_left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

.box_flex_col_left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.box_modal {
  position: fixed;
  width: calc(var(--app-width) - 10px);
  padding: 10px 0px 10px 10px;
  margin-top: 10vh;
  height: 80vh;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -5px 5px var(--color-tertiary);
  overflow-y: scroll;
  background-color: white;
}

.box_card {
  width: calc(var(--app-width) - 40px);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/image.css ***!
  \*****************************************************************************/
.logo_landing{
    margin-top: 25px;
}

.image_notifier{
    width: 60%;
    margin: 20px;
}

.icon_xs{
    width: var(--icon-width-xs);
    height: auto;
    fill: var(--font-color-3);
}


.w_icon_normal{
    width: var(--icon-width);
    height: auto;
    fill: #ffffff;
}

.icon_normal{
    width: var(--icon-width);
    height: auto;
    fill: var(--font-color-3);
}

.icon_xl{
    width: var(--icon-width-xl);
    height: auto;
    fill: var(--font-color-3);
}

.w_icon_2xl{
    width: var(--icon-width-2xl);
    height: auto;
    fill: #ffffff;
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/dropdown.css ***!
  \********************************************************************************/
.dropdown_regular {
  cursor: pointer;
  height: 50px;
  width: 340px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
  background-color: white;
}

.dropdown_mini{
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px 0px 10px 0px;
  background-color: white;
}

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/app.css ***!
  \***************************************************************************/
:root {
  --font-family-default: sans-serif;
  --color-black: black;
  --color-primary: #ffac30;
  --font-size-default: 14px;
  --font-h1: 18px;
  --color-secondary: #fafafa;
  --color-tertiary: #e1e1e1;
  --app-width: 480px
}

@media only screen and (max-width: 600px) {
  :root {
    --font-family-default: sans-serif;
    --color-black: black;
    --color-primary: #ffac30;
    --font-size-default: 14px;
    --font-h1: 18px;
    --color-secondary: #fafafa;
    --color-tertiary: #e1e1e1;
    --app-width:100vw
  }
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

#root{
  height: 100vh
}

