.box_banner {
  width: var(--app-width);
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  justify-content: space-around;
}

.box_flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.box_flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.box_flex_row_right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  padding: 10px 20px 10px 0px;
}

.box_flex_row_left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

.box_flex_col_left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:10px;
  padding: 10px;
}

.box_modal {
  position: fixed;
  width: calc(var(--app-width) - 10px);
  padding: 10px 0px 10px 10px;
  margin-top: 10vh;
  height: 80vh;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -5px 5px var(--color-tertiary);
  overflow-y: scroll;
  background-color: white;
}

.box_card {
  width: calc(var(--app-width) - 40px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
}