.text_regular{
    margin: 10px 0px 5px 0px;
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-black);
    text-align: justify;
    word-break: break-all;
}

.text_label{
    margin: 10px 0px 5px 0px;
    font-size: calc(var(--font-size-default) + 2px);
    font-family: var(--font-family-default);
    color: var(--color-tertiary);
    font-weight: 500;
    text-align: justify;
    word-break: break-all;
}

.text_notification{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: var(--color-black);
}

.text_success{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: green;
}

.text_error{
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    color: crimson;
}

.text_h1{
    margin: 10px 0px 5px 0px;
    font-size: var(--font-h1);
    font-family: var(--font-family-default);
    color: var(--color-black);
}
